force-app/main/default/flows/Schedule_Marketing_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Emails_Action_1</name>
        <label>Send Emails Action 1</label>
        <locationX>314</locationX>
        <locationY>1392</locationY>
        <actionName>EmailCampaignController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bccContacts</name>
            <value>
                <elementReference>BccContacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Get_All_Template_Records.Template_Body__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>campaignId</name>
            <value>
                <elementReference>$Record.Marketing_Campaign__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <elementReference>CcContacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Get_All_Template_Records.Subject__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddresses</name>
            <value>
                <elementReference>PrimaryContactEmails</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailCampaignController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Bcc_Contacts</name>
        <label>Assign Bcc Contacts</label>
        <locationX>314</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>BccContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Marketing_Campaign__r.BCC_Contacts__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Emails_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CC_Contacts_to_Variable</name>
        <label>Assign CC Contacts to Variable</label>
        <locationX>50</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>CcContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Marketing_Campaign__r.CC_Contacts__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Emails_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_all_primary_contact_s_email</name>
        <label>Collect all primary contact&apos;s email</label>
        <locationX>402</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>PrimaryContactEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_the_campaign_member_to_get_records.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_the_campaign_member_to_get_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_CC_and_BCC_Contacts</name>
        <label>Check For CC and BCC Contacts</label>
        <locationX>314</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Send_Emails_Action_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_For_CC_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Campaign__r.CC_Contacts__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CC_Contacts_to_Variable</targetReference>
            </connector>
            <label>Check For CC Contact</label>
        </rules>
        <rules>
            <name>Check_For_Bcc_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Campaign__r.BCC_Contacts__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bcc_Contacts</targetReference>
            </connector>
            <label>Check For Bcc Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Condition_For_Primary_Contacts</name>
        <label>Condition For Primary Contacts</label>
        <locationX>534</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_the_campaign_member_to_get_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_contact_Emails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_the_campaign_member_to_get_records.Contact_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_all_primary_contact_s_email</targetReference>
            </connector>
            <label>Primary contact Emails</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Date_is_null_or_not</name>
        <label>Selected Date is null or not</label>
        <locationX>798</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Selected_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Template_Records</targetReference>
            </connector>
            <label>Check for Selected Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Schedule Marketing Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Marketing Emails</label>
    <loops>
        <name>Loop_through_all_the_campaign_member_to_get_records</name>
        <label>Loop through all the campaign member to get records</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <collectionReference>Get_Campaign_Member_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Condition_For_Primary_Contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_For_CC_and_BCC_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Error_Records</name>
        <label>Create Error Records</label>
        <locationX>1018</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <stringValue>Error While Getting Template Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label__c</field>
            <value>
                <stringValue>Error From Schedule Marketing Email Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Error__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Handling__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Error_Records_2</name>
        <label>Create Error Records</label>
        <locationX>754</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <stringValue>Error While Getting Campaign Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label__c</field>
            <value>
                <stringValue>Error From Schedule Marketing Email Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Error__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Handling__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Template_Records</name>
        <label>Get All Template Records</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign_Member_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quick_Template__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Member_Records</name>
        <label>Get Campaign Member Records</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_the_campaign_member_to_get_records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Records_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Marketing_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Marketing_Campaign__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Marketing_Campaign_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <object>Marketing_Email__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Schedule_Emails</name>
            <connector>
                <targetReference>Selected_Date_is_null_or_not</targetReference>
            </connector>
            <label>Schedule Emails</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Send_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BccContacts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CcContacts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MarketingCampaignMemberRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Campaign_Member__c</objectType>
    </variables>
    <variables>
        <name>PrimaryContactEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
