force-app/main/default/flows/Schedule_Mail_Using_Email_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Contact_Specific_Send_Email_Action_1</name>
        <label>Contact Specific Send Email Action 1</label>
        <locationX>314</locationX>
        <locationY>1116</locationY>
        <actionName>EmailCampaignScheduler</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Create_Error_Records_3</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bccAddresses</name>
            <value>
                <elementReference>BccContacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Get_template_record.Template_Body__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>campaignId</name>
            <value>
                <elementReference>Get_Marketing_Campaign_Records.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <elementReference>CcContacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contacted</name>
            <value>
                <elementReference>Get_Contact_Record_For_Email.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>Get_Contact_Record_For_Email.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Get_template_record.Subject__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailCampaignScheduler</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assignment_BCC_Value</name>
        <label>Assignment BCC Value</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>BccContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Marketing_Campaign_Records.BCC_Contacts__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_Record_For_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_CC_value</name>
        <label>Assignment of CC value</label>
        <locationX>314</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>CcContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Marketing_Campaign_Records.CC_Contacts__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_Record_For_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_specific_date</name>
        <label>Check for specific date</label>
        <locationX>1194</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_specific_date_null_or_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Email__r.Marketing_Campaign__r.Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_template_record</targetReference>
            </connector>
            <label>Is specific date null or not?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_values_for_CC_and_Bcc_from_campaign</name>
        <label>Check values for CC and Bcc from campaign</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Record_For_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Are_Bcc_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Marketing_Campaign_Records.BCC_Contacts__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_BCC_Value</targetReference>
            </connector>
            <label>Are Bcc Contacts ?</label>
        </rules>
        <rules>
            <name>Are_CC_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Marketing_Campaign_Records.CC_Contacts__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_CC_value</targetReference>
            </connector>
            <label>Are CC Contacts ?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Schedule Mail Using Email Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Mail Using Email Members</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Error_Records</name>
        <label>Copy 1 of Create Error Records</label>
        <locationX>1282</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <stringValue>Error While Getting Marketing Campaign Records Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label__c</field>
            <value>
                <stringValue>Error FromSchedule Mail Using Email member Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Error__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Handling__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Error_Records</name>
        <label>Create Error Records</label>
        <locationX>1810</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <stringValue>Error While getting Template Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label__c</field>
            <value>
                <stringValue>Error FromSchedule Mail Using Email member Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Error__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Handling__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Error_Records_1</name>
        <label>Create Error Records</label>
        <locationX>1546</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <stringValue>Error While Getting Marketing Campaign Member Records Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label__c</field>
            <value>
                <stringValue>Error FromSchedule Mail Using Email member Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Error__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Handling__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Error_Records_2</name>
        <label>Create Error Records</label>
        <locationX>1018</locationX>
        <locationY>1116</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <stringValue>Error While Getting Contact Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label__c</field>
            <value>
                <stringValue>Error FromSchedule Mail Using Email member Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Error__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Handling__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Error_Records_3</name>
        <label>Create Error Records</label>
        <locationX>754</locationX>
        <locationY>1224</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <stringValue>Error While sending mail</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label__c</field>
            <value>
                <stringValue>Error FromSchedule Mail Using Email member Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Error__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Handling__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Record_For_Email</name>
        <label>Get Contact Record For Email</label>
        <locationX>314</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Specific_Send_Email_Action_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Records_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Marketing_Campaign_Member_Record</name>
        <label>Get Marketing Campaign Member Record</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Marketing_Campaign_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Records_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Marketing_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Marketing_Email__r.Marketing_Campaign__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Marketing_Campaign_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Marketing_Campaign_Records</name>
        <label>Get Marketing Campaign Records</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_values_for_CC_and_Bcc_from_campaign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Create_Error_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Marketing_Email__r.Marketing_Campaign__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Marketing_Campaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_template_record</name>
        <label>Get template record</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Marketing_Campaign_Member_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Marketing_Email__r.Quick_Template__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Schedule_Date_and_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Email_Member__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Schedule_Email_Using_Email_Member</name>
            <connector>
                <targetReference>Check_for_specific_date</targetReference>
            </connector>
            <label>Schedule Email Using Email Member</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Schedule_Date_and_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BccContacts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CcContacts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contactids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryContacts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
