force-app/main/default/flows/Schedule_Mail_Using_Email_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sending_Mail_Using_Apex</name>
        <label>Sending Mail Using Apex</label>
        <locationX>748</locationX>
        <locationY>984</locationY>
        <actionName>EmailCampaignController</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Create_Error_Records_2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bccAddresses</name>
            <value>
                <elementReference>BccContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Get_template_record.Template_Body__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <elementReference>CcContactEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Get_template_record.Subject__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddresses</name>
            <value>
                <elementReference>PrimaryContacts</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailCampaignController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Collect_all_CC_contact_s_email</name>
        <label>Collect all CC contact&apos;s email</label>
        <locationX>1100</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>CcContactEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_the_campaign_members_to_get_records.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_the_campaign_members_to_get_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_all_primary_contact_s_email</name>
        <label>Collect all primary contact&apos;s email</label>
        <locationX>836</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>PrimaryContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_the_campaign_members_to_get_records.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_the_campaign_members_to_get_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Bcc_contact_s_email</name>
        <label>Collect Bcc contact&apos;s email</label>
        <locationX>1364</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>BccContactEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_the_campaign_members_to_get_records.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_the_campaign_members_to_get_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Condition_for_separating_primary_cc_and_bcc_contacts</name>
        <label>Condition for separating primary, cc and bcc contacts</label>
        <locationX>1232</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_the_campaign_members_to_get_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_contact_Emails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_the_campaign_members_to_get_records.Contact_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_all_primary_contact_s_email</targetReference>
            </connector>
            <label>Primary contact Emails</label>
        </rules>
        <rules>
            <name>CC_Contact_s_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_the_campaign_members_to_get_records.Contact_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_all_CC_contact_s_email</targetReference>
            </connector>
            <label>CC Contact&apos;s email</label>
        </rules>
        <rules>
            <name>BccContactEmails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_the_campaign_members_to_get_records.Contact_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BCC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Bcc_contact_s_email</targetReference>
            </connector>
            <label>BccContactEmails</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Schedule Mail Using Email Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Mail Using Email Members</label>
    <loops>
        <name>Loop_through_all_the_campaign_members_to_get_records</name>
        <label>Loop through all the campaign members to get records</label>
        <locationX>748</locationX>
        <locationY>492</locationY>
        <collectionReference>Get_Marketing_Campaign_Member_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Condition_for_separating_primary_cc_and_bcc_contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sending_Mail_Using_Apex</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Error_Records</name>
        <label>Create Error Records</label>
        <locationX>1540</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <stringValue>Error While getting Template Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label__c</field>
            <value>
                <stringValue>Error FromSchedule Mail Using Email member Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Error__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Handling__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Error_Records_1</name>
        <label>Create Error Records</label>
        <locationX>1276</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <stringValue>Error While Getting Marketing Campaign Member Records Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label__c</field>
            <value>
                <stringValue>Error FromSchedule Mail Using Email member Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Error__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Handling__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Error_Records_2</name>
        <label>Create Error Records</label>
        <locationX>1012</locationX>
        <locationY>1092</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <stringValue>Error While Sending mail in the flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label__c</field>
            <value>
                <stringValue>Error FromSchedule Mail Using Email member Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Error__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Handling__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Marketing_Campaign_Member_Record</name>
        <label>Get Marketing Campaign Member Record</label>
        <locationX>748</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_the_campaign_members_to_get_records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Records_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Marketing_Email__r.Marketing_Campaign__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Marketing_Campaign_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_template_record</name>
        <label>Get template record</label>
        <locationX>748</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Marketing_Campaign_Member_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Marketing_Email__r.Quick_Template__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Schedule_Date_and_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Email_Member__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Schedule_Email_Using_Email_Member</name>
            <connector>
                <targetReference>Get_template_record</targetReference>
            </connector>
            <label>Schedule Email Using Email Member</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Schedule_Date_and_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BccContactEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CcContactEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contactids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryContacts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
